.WebShell{
    background-color: black;
}
.Shell{
    height: calc(100vh - 80px);
    padding: 20px;
}
.shellPrompt{
    display: flex;
}
#sysinfo, .dollar{
    color:lightgreen;
    margin-right: 10px;
    text-align: justify;
    margin-bottom: 10px;
}
#prompt{
    width: 95vw;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    resize: none;
    box-shadow: none;
    overflow:hidden;
}

.prevcommands{
    padding-top:20px;
    padding-left: 20px;
    color:white;
}